[manager]
cwd = { fg = "black", bg = "white" }
hovered         = { reversed = true }
preview_hovered = { underline = true }
find_keyword  = { fg = "yellow", bold = true }
find_position = { fg = "magenta", bg = "reset", bold = true, italic = true }
marker_copied   = { fg = "lightcyan",  bg = "lightcyan" }
marker_cut      = { fg = "lightred",    bg = "lightred" }
marker_marked   = { fg = "lightcyan",   bg = "lightcyan" }
marker_selected = { fg = "lightgreen", bg = "lightgreen" }
tab_active   = { reversed = true , bold = true}
tab_inactive = {}
tab_width    = 25
count_copied   = { fg = "white", bg = "green" }
count_cut      = { fg = "white", bg = "red" }
count_selected = { fg = "white", bg = "yellow" }
border_style  = { fg = "white" }

[status]
separator_open  = "█"
separator_close = "█"
separator_style = { fg = "black", bg = "black" }
mode_normal = { bg = "cyan", fg = "black", bold = true }
mode_select = { bg = "green", fg = "black", bold = true }
mode_unset  = { bg = "magenta", fg = "black", bold = true }
permissions_t = { fg = "blue" }
permissions_r = { fg = "cyan" }
permissions_w = { fg = "red" }
permissions_x = { fg = "green" }
permissions_s = { fg = "white" }

[notify]
title_info  = { fg = "cyan" }
title_warn  = { fg = "magenta" }
title_error = { fg = "red" }

[filetype]
rules = [
	# Images
	{ mime = "image/*", fg = "yellow" },
	# Media
	{ mime = "{audio,video}/*", fg = "magenta" },
	# Archives
	{ mime = "application/{,g}zip", fg = "red" },
	{ mime = "application/x-{tar,bzip*,7z-compressed,xz,rar}", fg = "red" },
	# Documents
	{ mime = "application/{pdf,doc,rtf,vnd.*}", fg = "blue" },
	# Special files
	{ name = "*", is = "orphan", bg = "red" },
	{ name = "*", is = "exec"  , fg = "green" },
	# Dummy files
	{ name = "*", is = "dummy", bg = "red" },
	{ name = "*/", is = "dummy", bg = "red" },
	# Fallback
	{ name = "*/", fg = "yellow" }
]
